/*@import url(https://fonts.googleapis.com/css?family=Autour+One); */
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

body{
    margin: 0;
    /*font-family: 'Autour One', cursive; !important*/
    font-family: 'Roboto Condensed', sans-serif !important;
}

div.device {
    width: 50px;
    height:50px;
    background-color:red;
    position:fixed; 
}

.title {
    font-size: 3vw;
    color: white;
}

#head{
    background-color: #78c7ee;
    height: 5vw;
}

svg {
    /* position: absolute;
     width: 98%;
     height: 100%; */
} 

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 110s linear forwards infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html { 
    height: 100%; 
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; } 

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

h2 { font-size: 2.3em; line-height: 1.1em; color: #646464; font-weight: bold; margin-bottom: 12px; }

p { font-size: 1.4em; line-height: 1.25em; margin-bottom: 20px; color: #444; }

a.close { display: inline-block; background: #5574b4; padding: 10px 8px; color: #fff; font-weight: bold; font-size: 1.4em; text-decoration: none; margin-bottom: 6px; }
a.close:hover { background: #4a6397; }

#showInfo { 
  display: none;
  width: 20%;
  background: #f2f2f2;
  padding: 10px 11px;
  padding-top: 35px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 3;    
  overflow: scroll;
}

#mainpage {
  width: 100%;
  height: 100%;
  /*display: block;
  min-height: 800px;
    z-index: 2;*/
  overflow: hidden;
  position: absolute;
  color: #fff;
}

#mainpage nav { 
  position: absolute;
  /*width: 2%; 
  height: 6%; */
  background: #343638;
  top: 8px;
  z-index: 1;
}
#mainpage nav h1 {
  font-size: 2.85em;
  line-height: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 11px;
}

#navigation {
  list-style: none;
}
#navigation li { display: block; margin-bottom: 2px; font-size: 1.4em; font-weight: bold; }
#navigation li a { display: block; padding: 8px 6px; width: 100%; color: #d1e0f8; text-decoration: none; }

#navigation li a:hover, #navigation li a.open { 
    color: #fff; 
    background: #484e57; 
}


#content {
  display: block;
  margin-left: 200px;
  padding: 10px 15px;

}

#content p {
  color: #fff;
  text-shadow: 2px 1px 0px rgba(0,0,0,0.7);
}

.fixed-btm { padding-bottom: 120px; /* add extra space when nav is fixed at the bottom */ }

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.searchbox{
    z-index: 0;
    position: absolute;
    top: 8px;
    left: 10%;
    background-color: white;
    color: black;
}

#loading{
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    position:fixed;
    text-align: center;
}

#devices {
    z-index: -1000;
}