<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"/>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>
    <body ng-app="app" ng-controller="mainController">
        <div class="container-fluid">
            <div class="row" id="head">
                <div class="col-md-12 col-sm-12 col-lg-12"><span class= "title" >{{groupName}} - {{groupMembers}}</span></div>
            </div>


            <div class="row" id="map">
                <div class="col-md-10 col-sm-12 col-lg-9">
                    <svg id="svg_map" viewBo0 0 900 510" xmlns="http://www.w3.org/2000/svg" version="1.1" xlink="http://www.w3.org/1999/xlink">
  <g stroke = "#000" stroke-width = "1" fill = "none">
   <g>
    <polygon id="corridorShipping" points="508,84 501,84 501,76 327,77 322,50 293,50 293,82 327,82 327,84 "/>
   </g>
   <g>
    <polygon id="timHortons" points="138,367 0,493 0,502 32,533 100,470 138,462 "/>
   </g>
   <rect id="2A222" 138" width="36" height="70"/>
   <rect id="2A200" 138" y="71" width="36" height="26"/>
   <rect id="2A218" 138" y="96" width="43" height="40"/>
   <polygon id="2A214" points="138,207 180,207 180,196 170,189 156,189 153,189 138,189 "/>
   <polygon id="2A214_2" points="138,207 180,207 180,220 138,220 "/>
   <polygon id="2A212" points="138,251 180,251 180,220 138,220 "/>
   <polygon id="2A210" points="138,251 180,251 180,281 138,281 "/>
   <polygon id="2A208" points="138,313 180,313 180,281 138,281 "/>
   <polygon id="washrooms" points="138,462 151,462 171,462 171,464 194,464 194,462 212,462 212,464 228,464 228,448 228,448 228,431 221,431 221,421 204,421 195,421 184,421 168,421 147,421 147,431 138,431 138,448 "/>
   <polygon id="2A202" points="138,406 174,406 180,401 180,359 174,354 138,354 "/>
   <polygon id="2A206" points="138,313 180,313 180,338 175,344 138,344 "/>
   <polygon id="2A216" points="138,179 175,179 181,172 181,136 138,136 "/>
   <polygon id="bookstore" points="231,179 195,179 188,172 188,97 231,97 "/>
   <rect id="2A224" 174" width="42" height="27"/>
   <rect id="?" 219" y="75" width="12" height="22"/>
   <polygon id="2A316" points="266,81 266,180 250,180 231,180 231,154 231,143 231,96 231,81 231,66 231,50 266,50 266,66 "/>
   <polygon id="2A322" points="327,82 298,82 298,110 298,126 327,126 327,110 "/>
   <polygon id="2A511" points="459,84 327,84 327,156 383,156 383,156 383,156 370,156 354,156 339,156 327,156 327,168 327,168 327,180 339,180 339,168 354,168 358,168 358,180 376,180 376,177 383,177 386,182 399,182 422,182 459,182 459,168 459,156 422,156 399,156 399,156 459,156 "/>
   <polygon id="2A623" points="459,84 508,84 508,138 508,156 508,177 481,177 459,177 459,156 "/>
   <polygon id="2A315" points="327,126 298,126 298,132 298,156 298,180 327,180 327,156 327,132 "/>
   <polygon id="2A316" points="293,82 293,82 293,93 293,93 293,125 293,154 293,154 293,180 264,180 264,156 260,156 260,154 260,125 266,125 266,82 266,50 293,50 "/>
   <rect id="2A314" 232" y="190" width="40" height="33"/>
   <rect id="2A211" 232" y="222" width="40" height="30"/>
   <rect id="2A313" 284" y="191" width="43" height="15"/>
   <rect id="2A307" 284" y="205" width="43" height="78"/>
   <rect id="2A305" 284" y="283" width="43" height="30"/>
   <polygon id="2A303" points="284,313 317,313 327,313 327,345 317,345 284,345 "/>
   <rect id="2A310" 232" y="252" width="40" height="30"/>
   <rect id="2A303" 232" y="282" width="40" height="29"/>
   <rect id="2A306" 232" y="311" width="40" height="34"/>
   <rect id="2A213" 191" y="190" width="41" height="31"/>
   <rect id="2A211" 191" y="220" width="41" height="36"/>
   <rect id="2A209" 191" y="256" width="41" height="26"/>
   <rect id="2A207" 191" y="282" width="41" height="29"/>
   <polygon id="2A203" points="232,380 191,380 191,360 196,355 232,355 "/>
   <polygon id="2A201" points="232,380 191,380 191,401 196,406 232,406 "/>
   <polygon id="2A304" points="232,380 273,380 273,360 268,355 232,355 "/>
   <polygon id="2A301" points="283,381 283,360 289,355 326,355 326,381 326,407 289,407 283,402 "/>
   <polygon id="2A140" points="365,356 326,355 326,381 326,407 365,407 "/>
   <polygon id="2A502" points="408,381 408,360 403,355 366,355 366,381 366,407 403,407 408,402 "/>
   <polygon id="2A302" points="232,380 273,380 273,401 268,406 232,406 "/>
   <polygon id="2A205" points="232,311 191,311 191,339 196,345 232,345 "/>
   <rect id="2A413" 338" y="191" width="39" height="22"/>
   <rect id="2A411" 338" y="214" width="39" height="22"/>
   <rect id="2A409" 338" y="235" width="39" height="22"/>
   <rect id="2A407" 338" y="258" width="39" height="22"/>
   <rect id="2A405" 338" y="280" width="39" height="22"/>
   <rect id="2A403" 338" y="314" width="32" height="32"/>
   <polygon id="2A503" points="461,346 419,346 419,314 461,314 482,314 482,334 482,354 461,354 "/>
   <polygon id="2A609" points="488,334 488,314 508,314 508,334 508,346 508,377 488,377 488,346 "/>
   <polygon id="2A605" points="508,377 488,377 488,408 488,429 508,429 508,408 "/>
   <rect id="2A601" 473" y="429" width="40" height="25"/>
   <rect id="2A147-1" 449" y="418" width="12" height="31"/>
   <rect id="2A147" 420" y="418" width="29" height="31"/>
   <rect id="2A145" 388" y="418" width="32" height="31"/>
   <rect id="2A143" 357" y="418" width="31" height="31"/>
   <rect id="2A141" 326" y="418" width="31" height="31"/>
   <rect id="2A137" 263" y="422" width="32" height="27"/>
   <rect id="2A136" 232" y="422" width="31" height="27"/>
   <polygon id="2A139" points="300,418 326,418 326,449 295,449 295,422 "/>
   <polygon id="2A501" points="461,374 482,374 482,354 461,354 461,346 419,346 419,376 461,376 "/>
   <polygon id="2A148" points="461,374 482,374 482,387 482,407 482,415 482,423 472,423 472,415 472,407 461,407 444,407 419,407 419,376 444,376 461,376 "/>
   <polygon id="2A504" points="404,346 370,346 370,314 409,314 409,340 "/>
   <polygon id="2A509" points="390,190 424,190 424,229 390,229 390,222 387,220 387,202 390,201 "/>
   <polygon id="2A622" points="457,190 424,190 424,229 457,229 457,222 460,220 460,202 457,201 "/>
   <polygon id="2A620" points="457,267 424,267 424,229 457,229 457,235 460,237 460,256 457,256 "/>
   <polygon id="2A619" points="475,267 508,267 508,229 475,229 475,235 471,237 471,256 475,256 "/>
   <polygon id="2A617" points="475,267 508,267 508,293 471,293 471,276 475,276 "/>
   <polygon id="2A621" points="475,190 508,190 508,229 475,229 475,222 471,220 471,202 475,201 "/>
   <polygon id="2A507" points="390,267 424,267 424,229 390,229 390,235 387,237 387,256 390,256 "/>
   <polygon id="2A505" points="390,267 424,267 424,300 409,300 409,303 390,303 390,294 387,293 387,277 390,276 "/>
   <polygon id="2A618" points="457,267 424,267 424,300 459,300 460,293 460,277 457,276 "/>
  </g>
                    </svg>
                </div>
            </div>
    </body>
</html>