<!doctype html>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>Indoor GPS - TAALK</title>
    <link rel="stylesheet" type="text/css" media="all" href="css/style.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>

<body ng-app="app" ng-controller="mainController">
<div id="showInfo">
  <div class="row">
        <div class="col-md-12">
            <div class="panel-group">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      Device Info
                    </h4>
                  </div>
                  <div id="collapse1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                 Name: {{device.name}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                 ID: {{device.pathId}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                 Battery Life: {{device.battery}}
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
<div id="mainpage">
  <nav id="nav">
    <ul id="navigation">
      <li><a href="#showInfo" id="showIcon">»</a></li>
    </ul>
  </nav>
  <div id="content" class="container-fluid"> 
    <svg id="svg_map" width="100%" height="100%" viewBox= "0 0 800 600" xmlns="http://www.w3.org/2000/svg" version="1.1" xlink="http://www.w3.org/1999/xlink">
        <svg id="inner" viewBox= "0 0 1260 600" xmlns="http://www.w3.org/2000/svg" version="1.1" xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMinYMin meet">

        <g id="first_floor_outline" stroke = "#000" stroke-width = "1" fill = "none" >         
            <path stroke-width="2" ng-attr-id="{{map.id}}" ng-attr-d="{{map.path}}"/>
        </g>
        <!-- Mark beacon points -->
        <g ng-repeat="beacon in beaconList track by $index" stroke="red" stroke-width="3" fill="red">
            <circle ng-attr-id="{{beacon.id}}" ng-attr-c{{beacon.coordinates.x}}" ng-attr-cy="{{beacon.coordinates.y}}" ng-attr-r="{{beacon.r}}" />
        </g>
        <g ng-repeat="device in deviceList track by $index">
            <path ng-attr-id="{{device.pathId}}" ng-attr-d="{{device.path}}" class="path" fill="none" stroke="{{device.pathColor}}" stroke-width="2" stroke-miterlimit="0" stroke-dasharray="3 3"
stroke-dashoffset="0"/>
            <a href="javascript:openCloseInfo();"><image ng-attr-{{device.initialX}}" ng-attr-y="{{device.initialY}}" ng-attr-width="{{device.width}}" ng-attr-height="{{device.height}}" xlink:href="{{device.image}}" ng-click="showDeviceInfo(device.pathId)" >
                <animateMotion dur="100s" repeatCount="indefinite" rotate="auto">
                   <mpath xlink:href="{{'#' + device.pathId}}"/>
                </animateMotion>
                <title><div ng-attr-title="{{showDeviceName(device.pathId)}}">{{deviceName}}</div></title>
            </image>
            </a>
        </g>
        </svg>
    </svg>
 </div>
</div>
    <!-- scripts --> 
    <script src="js/slide.js"></script>
    <script src="js/zoom.js"></script>
    <!--script src="js/svg-pan-zoom.js"></script-->
    <script src="js/mainController.js"></script>
    <script src="js/webSocketService.js"></script>
    <script src="js/mapInfoService.js"></script>
    <script src="js/beaconInfoService.js"></script>
    <script src="js/deviceInfoService.js"></script>
</body>
</html>