<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Indoor GPS - TAALK</title>
    <link rel="stylesheet" type="text/css" media="all" href="./css/style.css">
    <link rel="stylesheet" type="text/css" media="all" href="./css/bootstrap.min.css">
    <script type="text/javascript" src="./js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="./js/jquery-ui.min.js"></script>
    <script src="./js/angular.min.js"></script>
    <script src="./js/d3.v3.min.js"></script>
</head>

<body ng-app="app" ng-controller="mainController">
<div ng-show="dataLoading" id="loading">
    <img src="img/spin.svg" alt="Loading"> 
</div>
  <div id="showInfo" class="row">
        <div class="col-md-12">
            <div class="panel-group">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      Device Info
                    </h4>
                  </div>
                  <div id="collapse1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                 Name: {{device.userName}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                 ID: {{device.deviceId}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                 Model: {{device.deviceModel}}
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
       <div class="col-md-12">
            <div class="panel-group">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      Beacon List
                    </h4>
                  </div>
                  <div id="collapse1">
                    <div class="panel-body">
                        <div class="row" ng-repeat="beacon in beacons track by $index">
                            <div class="col-md-12">
                                 Beacon: {{beacon.minor}}
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-md-12">
            <div class="panel-group">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      Connected devices
                    </h4>
                  </div>
                  <div id="collapse1">
                    <div class="panel-body">
                        <div class="row" ng-repeat="dev in devices track by $index">
                            <div class="col-md-12">
                                <a href="#" ng-click="showDevInfo(dev)">
                                    Device: {{dev.userName}}
                                </a>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-md-12">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                        Settings
                        </h4>
                    </div>
                    <div id="collapse1">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="switch">
                                        Heat areas 
                                    </label>
                                    <!-- Rounded switch -->
                                    <label class="switch">
                                      <input type="checkbox" id="heatAreasCheckbox">
                                      <div class="slider round"></div>
                                    </label>
                                </div>
                                <div class="col-md-12">
                                    <label class="switch">
                                        Nodes 
                                    </label>
                                    <!-- Rounded switch -->
                                    <label class="switch">
                                      <input type="checkbox" id="nodesCheckbox" checked>
                                      <div class="slider round"></div>
                                    </label>
                                </div>
                                <div class="col-md-12">
                                    <label class="switch">
                                       Devices
                                    </label>
                                    <!-- Rounded switch -->
                                    <label class="switch">
                                      <input type="checkbox" id="devicesCheckbox" checked>
                                      <div class="slider round"></div>
                                    </label>
                                </div>
                                <div class="col-md-12">
                                    <label class="switch">
                                       Beacons
                                    </label>
                                    <!-- Rounded switch -->
                                    <label class="switch">
                                      <input type="checkbox" id="beaconsCheckbox" checked>
                                      <div class="slider round"></div>
                                    </label>
                                </div>
                                <div class="col-md-12">
                                    <label class="switch">
                                       Navigation
                                    </label>
                                    <!-- Rounded switch -->
                                    <label class="switch">
                                      <input type="checkbox" id="navigationCheckbox" checked>
                                      <div class="slider round"></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div id="mainpage">
    <nav id="nav">
        <ul id="navigation">
            <li><a href="#showInfo" id="showIcon">»</a></li>
        </ul>
    </nav>
    <div class="searchbox col-md-offset-3" >
        <form>
            <input type="text" name="search" id="search" value="Search..." style="width:200px;"/>
            <img src="img/searchIcon.png" id="searchButton" ng-click="search()">
        </form>
    </div>
    <!--audio autoplay="autoplay" preload="none">
        <p>Your browser does not support the audio element.</p>
        <source ng-src="{{navigation.sound}}" />
    </audio-->
</div>
    <!-- scripts --> 
    <script src="js/slide.js"></script>
    <script src="js/search.js"></script>
    <script src="js/mainController.js"></script>
    <script src="js/navigationService.js"></script>
    <script src="js/webSocketService.js"></script>
    <script src="js/mapInfoService.js"></script>
    <script src="js/beaconInfoService.js"></script>
    <script src="js/heatAreaInfoService.js"></script>
    <script src="js/nodeInfoService.js"></script>
    <script src="js/deviceInfoService.js"></script>
    <script src="js/searchInfoService.js"></script>
    <script src="js/messageHandler.js"></script>
</body>
</html>