@import url(https://fonts.googleapis.com/css?family=Autour+One);

html, body {
    height: 100%;
    overflow: hidden;
}

.title {
    font-family: 'Autour One', cursive;
    font-size: 3vw;
    color: white;
}

#head{
    background-color: #78c7ee;
    height: 5vw;
}

canvas{
    width: 100%;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}