<title>Flatten.js, General SVG Flattener</title>

  <script>
  SVGElement.prototype.getTransformToElement = SVGElement.prototype.getTransformToElement || function(toElement) {
    return toElement.getScreenCTM().inverse().multiply(this.getScreenCTM());
};
/*  
Usage example: http://jsfiddle.net/Nv78L/1/embedded/result/

Basic usage: flatten(document.getElementById('svg'));

What it does: Flattens elements (converts elements to paths and flattens transformations).
If the argument element (whose id is above 'svg') has children, or it's descendants has children,
these children elements are flattened also.

If you want to modify path coordinates using non-affine methods (eg. perspective distort),
you can convert all segments to cubic curves using:

flatten(document.getElementById('svg'), true);

There are also arguments 'toAbsolute' (convert coordinates to absolute) and 'dec', 
number of digits after decimal separator.
*/ 

/*
The MIT License (MIT)

Copyright (c) 2014 Timo (https://github.com/timo22345)

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
*/
(function ()
{
  var p2s = /,?([achlmqrstvxz]),?/gi;
  var convertToString = function (arr)
  {
    return arr.join(',').replace(p2s, '$1');
  };

  // Flattens transformations of element or it's children and sub-children
  // elem: DOM element
  // toCubics: converts all segments to cubics
  // toAbsolute: converts all segments to Absolute
  // dec: number of digits after decimal separator
  // Returns: no return value
  function flatten(elem, toCubics, toAbsolute, rectAsArgs, dec)
  {
    if (!elem) return;
    if (typeof (rectAsArgs) == 'undefined') rectAsArgs = false;
    if (typeof (toCubics) == 'undefined') toCubics = false;
    if (typeof (toAbsolute) == 'undefined') toAbsolute = false;
    if (typeof (dec) == 'undefined') dec = false;

    if (elem && elem.children && elem.children.length)
    {
      for (var i = 0, ilen = elem.children.length; i < ilen; i++)
      {
        //console.log(elem.children[i]);
        flatten(elem.children[i], toCubics, toAbsolute, rectAsArgs, dec);
      }
      elem.removeAttribute('transform');
      return;
    }
    if (!(elem instanceof SVGCircleElement ||
          elem instanceof SVGRectElement ||
          elem instanceof SVGEllipseElement ||
          elem instanceof SVGLineElement ||
          elem instanceof SVGPolygonElement ||
          elem instanceof SVGPolylineElement ||
          elem instanceof SVGPathElement)) return;

    path_elem = convertToPath(elem, rectAsArgs);
    //console.log('path_elem', $(path_elem).wrap('<div />').parent().html() );
    //$(path_elem).unwrap();

    if (!path_elem || path_elem.getAttribute(d) == '') return 'M 0 0';

    // Rounding coordinates to dec decimals
    if (dec || dec === 0)
    {
      if (dec > 15) dec = 15;
      else if (dec < 0) dec = 0;
    }
    else dec = false;

    function r(num)
    {
      if (dec !== false) return Math.round(num * Math.pow(10, dec)) / Math.pow(10, dec);
      else return num;
    }

    var arr;
    //var pathDOM = path_elem.node;
    var pathDOM = path_elem;
    var d = pathDOM.getAttribute('d').trim();

    // If you want to retain current path commans, set toCubics to false
    if (!toCubics)
    { // Set to false to prevent possible re-normalization. 
      arr = parsePathString(d); // str to array
      var arr_orig = arr;
      arr = pathToAbsolute(arr); // mahvstcsqz -> uppercase
    }
    // If you want to modify path data using nonAffine methods,
    // set toCubics to true
    else
    {
      arr = path2curve(d); // mahvstcsqz -> MC
      var arr_orig = arr;
    }
    var svgDOM = pathDOM.ownerSVGElement;

    // Get the relation matrix that converts path coordinates
    // to SVGroot's coordinate space
    var matrix = pathDOM.getTransformToElement(svgDOM);

    // The following code can bake transformations
    // both normalized and non-normalized data
    // Coordinates have to be Absolute in the following
    var i = 0,
      j, m = arr.length,
      letter = '',
      letter_orig = '',
      x = 0,
      y = 0,
      point, newcoords = [],
      newcoords_orig = [],
      pt = svgDOM.createSVGPoint(),
      subpath_start = {}, prevX = 0,
      prevY = 0;
    subpath_start.x = null;
    subpath_start.y = null;
    for (; i < m; i++)
    {
      letter = arr[i][0].toUpperCase();
      letter_orig = arr_orig[i][0];
      newcoords[i] = [];
      newcoords[i][0] = arr[i][0];

      if (letter == 'A')
      {
        x = arr[i][6];
        y = arr[i][7];

        pt.x = arr[i][6];
        pt.y = arr[i][7];
        newcoords[i] = arc_transform(arr[i][1], arr[i][2], arr[i][3], arr[i][4], arr[i][5], pt, matrix);
        // rounding arc parameters
        // x,y are rounded normally
        // other parameters at least to 5 decimals
        // because they affect more than x,y rounding
        newcoords[i][1] = newcoords[i][1]; //rx
        newcoords[i][2] = newcoords[i][2]; //ry
        newcoords[i][3] = newcoords[i][3]; //x-axis-rotation
        newcoords[i][6] = newcoords[i][6]; //x
        newcoords[i][7] = newcoords[i][7]; //y
      }
      else if (letter != 'Z')
      {
        // parse other segs than Z and A
        for (j = 1; j < arr[i].length; j = j + 2)
        {
          if (letter == 'V') y = arr[i][j];
          else if (letter == 'H') x = arr[i][j];
          else
          {
            x = arr[i][j];
            y = arr[i][j + 1];
          }
          pt.x = x;
          pt.y = y;
          point = pt.matrixTransform(matrix);

          if (letter == 'V' || letter == 'H')
          {
            newcoords[i][0] = 'L';
            newcoords[i][j] = point.x;
            newcoords[i][j + 1] = point.y;
          }
          else
          {
            newcoords[i][j] = point.x;
            newcoords[i][j + 1] = point.y;
          }
        }
      }
      if ((letter != 'Z' && subpath_start.x === null) || letter == 'M')
      {
        subpath_start.x = x;
        subpath_start.y = y;
      }
      if (letter == 'Z')
      {
        x = subpath_start.x;
        y = subpath_start.y;
      }
    }
    // Convert all that was relative back to relative
    // This could be combined to above, but to make code more readable
    // this is made separately.
    var prevXtmp = 0;
    var prevYtmp = 0;
    subpath_start.x = '';
    for (i = 0; i < newcoords.length; i++)
    {
      letter_orig = arr_orig[i][0];
      if (letter_orig == 'A' || letter_orig == 'M' || letter_orig == 'L' || letter_orig == 'C' || letter_orig == 'S' || letter_orig == 'Q' || letter_orig == 'T' || letter_orig == 'H' || letter_orig == 'V')
      {
        var len = newcoords[i].length;
        var lentmp = len;
        if (letter_orig == 'A')
        {
          newcoords[i][6] = r(newcoords[i][6]);
          newcoords[i][7] = r(newcoords[i][7]);
        }
        else
        {
          lentmp--;
          while (--lentmp) newcoords[i][lentmp] = r(newcoords[i][lentmp]);
        }
        prevX = newcoords[i][len - 2];
        prevY = newcoords[i][len - 1];
      }
      else
      if (letter_orig == 'a')
      {
        prevXtmp = newcoords[i][6];
        prevYtmp = newcoords[i][7];
        newcoords[i][0] = letter_orig;
        newcoords[i][6] = r(newcoords[i][6] - prevX);
        newcoords[i][7] = r(newcoords[i][7] - prevY);
        prevX = prevXtmp;
        prevY = prevYtmp;
      }
      else
      if (letter_orig == 'm' || letter_orig == 'l' || letter_orig == 'c' || letter_orig == 's' || letter_orig == 'q' || letter_orig == 't' || letter_orig == 'h' || letter_orig == 'v')
      {
        var len = newcoords[i].length;
        prevXtmp = newcoords[i][len - 2];
        prevYtmp = newcoords[i][len - 1];
        for (j = 1; j < len; j = j + 2)
        {
          if (letter_orig == 'h' || letter_orig == 'v')
            newcoords[i][0] = 'l';
          else newcoords[i][0] = letter_orig;
          newcoords[i][j] = r(newcoords[i][j] - prevX);
          newcoords[i][j + 1] = r(newcoords[i][j + 1] - prevY);
        }
        prevX = prevXtmp;
        prevY = prevYtmp;
      }
      if ((letter_orig.toLowerCase() != 'z' && subpath_start.x == '') || letter_orig.toLowerCase() == 'm')
      {
        subpath_start.x = prevX;
        subpath_start.y = prevY;
      }
      if (letter_orig.toLowerCase() == 'z')
      {
        prevX = subpath_start.x;
        prevY = subpath_start.y;
      }
    }
    if (toAbsolute) newcoords = pathToAbsolute(newcoords);
    path_elem.setAttribute('d', convertToString(newcoords));
    path_elem.removeAttribute('transform');
  }

  // Converts all shapes to path retaining attributes.
  // oldElem - DOM element to be replaced by path. Can be one of the following:
  //   ellipse, circle, path, line, polyline, polygon and rect.
  // rectAsArgs - Boolean. If true, rect roundings will be as arcs. Otherwise as cubics.
  // Return value: path element.
  // Source: https://github.com/duopixel/Method-Draw/blob/master/editor/src/svgcanvas.js
  // Modifications: Timo (https://github.com/timo22345)
  function convertToPath(oldElem, rectAsArgs)
  {
    if (!oldElem) return;
    // Create new path element
    var path = document.createElementNS(oldElem.ownerSVGElement.namespaceURI, 'path');

    // All attributes that path element can have
    var attrs = ['requiredFeatures', 'requiredExtensions', 'systemLanguage', 'id', 'xml:base', 'xml:lang', 'xml:space', 'onfocusin', 'onfocusout', 'onactivate', 'onclick', 'onmousedown', 'onmouseup', 'onmouseover', 'onmousemove', 'onmouseout', 'onload', 'alignment-baseline', 'baseline-shift', 'clip', 'clip-path', 'clip-rule', 'color', 'color-interpolation', 'color-interpolation-filters', 'color-profile', 'color-rendering', 'cursor', 'direction', 'display', 'dominant-baseline', 'enable-background', 'fill', 'fill-opacity', 'fill-rule', 'filter', 'flood-color', 'flood-opacity', 'font-family', 'font-size', 'font-size-adjust', 'font-stretch', 'font-style', 'font-variant', 'font-weight', 'glyph-orientation-horizontal', 'glyph-orientation-vertical', 'image-rendering', 'kerning', 'letter-spacing', 'lighting-color', 'marker-end', 'marker-mid', 'marker-start', 'mask', 'opacity', 'overflow', 'pointer-events', 'shape-rendering', 'stop-color', 'stop-opacity', 'stroke', 'stroke-dasharray', 'stroke-dashoffset', 'stroke-linecap', 'stroke-linejoin', 'stroke-miterlimit', 'stroke-opacity', 'stroke-width', 'text-anchor', 'text-decoration', 'text-rendering', 'unicode-bidi', 'visibility', 'word-spacing', 'writing-mode', 'class', 'style', 'externalResourcesRequired', 'transform', 'd', 'pathLength'];

    // Copy attributes of oldElem to path
    var attrName, attrValue;
    for (var i = 0, ilen = attrs.length; i < ilen; i++)
    {
      var attrName = attrs[i];
      var attrValue = oldElem.getAttribute(attrName);
      if (attrValue) path.setAttribute(attrName, attrValue);
    }

    var d = '';

    var valid = function (val)
    {
      return !(typeof (val) !== 'number' || val == Infinity || val < 0);
    }

    // Possibly the cubed root of 6, but 1.81 works best
    var num = 1.81;
    var tag = oldElem.tagName;
    switch (tag)
    {
    case 'ellipse':
    case 'circle':
      var rx = +oldElem.getAttribute('rx'),
        ry = +oldElem.getAttribute('ry'),
        cx = +oldElem.getAttribute('cx'),
        cy = +oldElem.getAttribute('cy');
      if (tag == 'circle')
      {
        rx = ry = +oldElem.getAttribute('r');
      }

      d += convertToString([
   ['M', (cx - rx), (cy)],
   ['C', (cx - rx), (cy - ry / num), (cx - rx / num), (cy - ry), (cx), (cy - ry)],
   ['C', (cx + rx / num), (cy - ry), (cx + rx), (cy - ry / num), (cx + rx), (cy)],
   ['C', (cx + rx), (cy + ry / num), (cx + rx / num), (cy + ry), (cx), (cy + ry)],
   ['C', (cx - rx / num), (cy + ry), (cx - rx), (cy + ry / num), (cx - rx), (cy)],
   ['Z']
  ]);
      break;
    case 'path':
      d = oldElem.getAttribute('d');
      break;
    case 'line':
      var x1 = oldElem.getAttribute('x1'),
        y1 = oldElem.getAttribute('y1');
      x2 = oldElem.getAttribute('x2');
      y2 = oldElem.getAttribute('y2');
      d = 'M' + x1 + ',' + y1 + 'L' + x2 + ',' + y2;
      break;
    case 'polyline':
      d = 'M' + oldElem.getAttribute('points');
      break;
    case 'polygon':
      d = 'M' + oldElem.getAttribute('points') + 'Z';
      break;
    case 'rect':
      var rx = +oldElem.getAttribute('rx'),
        ry = +oldElem.getAttribute('ry'),
        b = oldElem.getBBox(),
        x = b.x,
        y = b.y,
        w = b.width,
        h = b.height;

      // Validity checks from http://www.w3.org/TR/SVG/shapes.html#RectElement:
      // If neither ‘rx’ nor ‘ry’ are properly specified, then set both rx and ry to 0. (This will result in square corners.)
      if (!valid(rx) && !valid(ry)) rx = ry = 0;
      // Otherwise, if a properly specified value is provided for ‘rx’, but not for ‘ry’, then set both rx and ry to the value of ‘rx’.
      else if (valid(rx) && !valid(ry)) ry = rx;
      // Otherwise, if a properly specified value is provided for ‘ry’, but not for ‘rx’, then set both rx and ry to the value of ‘ry’.
      else if (valid(ry) && !valid(rx)) rx = ry;
      else
      {
        // If rx is greater than half of ‘width’, then set rx to half of ‘width’.
        if (rx > w / 2) rx = w / 2;
        // If ry is greater than half of ‘height’, then set ry to half of ‘height’.
        if (ry > h / 2) ry = h / 2;
      }

      if (!rx && !ry)
      {
        d += convertToString([
      ['M', x, y],
      ['L', x + w, y],
      ['L', x + w, y + h],
      ['L', x, y + h],
      ['L', x, y],
      ['Z']
     ]);
      }
      else if (rectAsArgs)
      {
        d += convertToString([
      ['M', x + rx, y],
      ['H', x + w - rx],
      ['A', rx, ry, 0, 0, 1, x + w, y + ry],
      ['V', y + h - ry],
      ['A', rx, ry, 0, 0, 1, x + w - rx, y + h],
      ['H', x + rx],
      ['A', rx, ry, 0, 0, 1, x, y + h - ry],
      ['V', y + ry],
      ['A', rx, ry, 0, 0, 1, x + rx, y]
      ]);
      }
      else
      {
        var num = 2.19;
        if (!ry) ry = rx
        d += convertToString([
    ['M', x, y + ry],
    ['C', x, y + ry / num, x + rx / num, y, x + rx, y],
    ['L', x + w - rx, y],
    ['C', x + w - rx / num, y, x + w, y + ry / num, x + w, y + ry],
    ['L', x + w, y + h - ry],
    ['C', x + w, y + h - ry / num, x + w - rx / num, y + h, x + w - rx, y + h],
    ['L', x + rx, y + h],
    ['C', x + rx / num, y + h, x, y + h - ry / num, x, y + h - ry],
    ['L', x, y + ry],
    ['Z']
     ]);
      }
      break;
    default:
      //path.parentNode.removeChild(path);
      break;
    }

    if (d) path.setAttribute('d', d);

    // Replace the current element with the converted one
    oldElem.parentNode.replaceChild(path, oldElem);
    return path;
  };

  // This is needed to flatten transformations of elliptical arcs
  // Note! This is not needed if Raphael.path2curve is used
  function arc_transform(a_rh, a_rv, a_offsetrot, large_arc_flag, sweep_flag, endpoint, matrix, svgDOM)
  {
    function NEARZERO(B)
    {
      if (Math.abs(B) < 0.0000000000000001) return true;
      else return false;
    }

    var rh, rv, rot;

    var m = []; // matrix representation of transformed ellipse
    var s, c; // sin and cos helpers (the former offset rotation)
    var A, B, C; // ellipse implicit equation:
    var ac, A2, C2; // helpers for angle and halfaxis-extraction.
    rh = a_rh;
    rv = a_rv;

    a_offsetrot = a_offsetrot * (Math.PI / 180); // deg->rad
    rot = a_offsetrot;

    s = parseFloat(Math.sin(rot));
    c = parseFloat(Math.cos(rot));

    // build ellipse representation matrix (unit circle transformation).
    // the 2x2 matrix multiplication with the upper 2x2 of a_mat is inlined.
    m[0] = matrix.a * +rh * c + matrix.c * rh * s;
    m[1] = matrix.b * +rh * c + matrix.d * rh * s;
    m[2] = matrix.a * -rv * s + matrix.c * rv * c;
    m[3] = matrix.b * -rv * s + matrix.d * rv * c;

    // to implict equation (centered)
    A = (m[0] * m[0]) + (m[2] * m[2]);
    C = (m[1] * m[1]) + (m[3] * m[3]);
    B = (m[0] * m[1] + m[2] * m[3]) * 2.0;

    // precalculate distance A to C
    ac = A - C;

    // convert implicit equation to angle and halfaxis:
    if (NEARZERO(B))
    {
      a_offsetrot = 0;
      A2 = A;
      C2 = C;
    }
    else
    {
      if (NEARZERO(ac))
      {
        A2 = A + B * 0.5;
        C2 = A - B * 0.5;
        a_offsetrot = Math.PI / 4.0;
      }
      else
      {
        // Precalculate radical:
        var K = 1 + B * B / (ac * ac);

        // Clamp (precision issues might need this.. not likely, but better save than sorry)
        if (K < 0) K = 0;
        else K = Math.sqrt(K);

        A2 = 0.5 * (A + C + K * ac);
        C2 = 0.5 * (A + C - K * ac);
        a_offsetrot = 0.5 * Math.atan2(B, ac);
      }
    }

    // This can get slightly below zero due to rounding issues.
    // it's save to clamp to zero in this case (this yields a zero length halfaxis)
    if (A2 < 0) A2 = 0;
    else A2 = Math.sqrt(A2);
    if (C2 < 0) C2 = 0;
    else C2 = Math.sqrt(C2);

    // now A2 and C2 are half-axis:
    if (ac <= 0)
    {
      a_rv = A2;
      a_rh = C2;
    }
    else
    {
      a_rv = C2;
      a_rh = A2;
    }

    // If the transformation matrix contain a mirror-component 
    // winding order of the ellise needs to be changed.
    if ((matrix.a * matrix.d) - (matrix.b * matrix.c) < 0)
    {
      if (!sweep_flag) sweep_flag = 1;
      else sweep_flag = 0;
    }

    // Finally, transform arc endpoint. This takes care about the
    // translational part which we ignored at the whole math-showdown above.
    endpoint = endpoint.matrixTransform(matrix);

    // Radians back to degrees
    a_offsetrot = a_offsetrot * 180 / Math.PI;

    var r = ['A', a_rh, a_rv, a_offsetrot, large_arc_flag, sweep_flag, endpoint.x, endpoint.y];
    return r;
  }

  // Parts of Raphaël 2.1.0 (MIT licence: http://raphaeljs.com/license.html)
  // Contains eg. bugfixed path2curve() function

  var R = {};
  var has = 'hasOwnProperty';
  var Str = String;
  var array = 'array';
  var isnan = {
    'NaN': 1,
    'Infinity': 1,
    '-Infinity': 1
  };
  var lowerCase = Str.prototype.toLowerCase;
  var upperCase = Str.prototype.toUpperCase;
  var objectToString = Object.prototype.toString;
  var concat = 'concat';
  var split = 'split';
  var apply = 'apply';
  var math = Math,
    mmax = math.max,
    mmin = math.min,
    abs = math.abs,
    pow = math.pow,
    PI = math.PI,
    round = math.round,
    toFloat = parseFloat,
    toInt = parseInt;
  var p2s = /,?([achlmqrstvxz]),?/gi;
  var pathCommand = /([achlmrqstvz])[\x09\x0a\x0b\x0c\x0d\x20\xa0\u1680\u180e\u2000\u2001\u2002\u2003\u2004\u2005\u2006\u2007\u2008\u2009\u200a\u202f\u205f\u3000\u2028\u2029,]*((-?\d*\.?\d*(?:e[\-+]?\d+)?[\x09\x0a\x0b\x0c\x0d\x20\xa0\u1680\u180e\u2000\u2001\u2002\u2003\u2004\u2005\u2006\u2007\u2008\u2009\u200a\u202f\u205f\u3000\u2028\u2029]*,?[\x09\x0a\x0b\x0c\x0d\x20\xa0\u1680\u180e\u2000\u2001\u2002\u2003\u2004\u2005\u2006\u2007\u2008\u2009\u200a\u202f\u205f\u3000\u2028\u2029]*)+)/ig;
  var pathValues = /(-?\d*\.?\d*(?:e[\-+]?\d+)?)[\x09\x0a\x0b\x0c\x0d\x20\xa0\u1680\u180e\u2000\u2001\u2002\u2003\u2004\u2005\u2006\u2007\u2008\u2009\u200a\u202f\u205f\u3000\u2028\u2029]*,?[\x09\x0a\x0b\x0c\x0d\x20\xa0\u1680\u180e\u2000\u2001\u2002\u2003\u2004\u2005\u2006\u2007\u2008\u2009\u200a\u202f\u205f\u3000\u2028\u2029]*/ig;
  R.is = function (o, type)
  {
    type = lowerCase.call(type);
    if (type == 'finite')
    {
      return !isnan[has](+o);
    }
    if (type == 'array')
    {
      return o instanceof Array;
    }
    return type == 'null' && o === null || type == typeof o && o !== null || type == 'object' && o === Object(o) || type == 'array' && Array.isArray && Array.isArray(o) || objectToString.call(o).slice(8, -1).toLowerCase() == type
  };

  function clone(obj)
  {
    if (Object(obj) !== obj)
    {
      return obj;
    }
    var res = new obj.constructor;
    for (var key in obj)
    {
      if (obj[has](key))
      {
        res[key] = clone(obj[key]);
      }
    }
    return res;
  }
  R._path2string = function ()
  {
    return this.join(',').replace(p2s, '$1');
  };

  function repush(array, item)
  {
    for (var i = 0, ii = array.length; i < ii; i++)
      if (array[i] === item)
      {
        return array.push(array.splice(i, 1)[0]);
      }
  }
  var pathClone = function (pathArray)
  {
    var res = clone(pathArray);
    res.toString = R._path2string;
    return res;
  };
  var paths = function (ps)
  {
    var p = paths.ps = paths.ps ||
    {};
    if (p[ps]) p[ps].sleep = 100;
    else p[ps] = {
      sleep: 100
    };
    setTimeout(function ()
    {
      for (var key in p)
      {
        if (p[has](key) && key != ps)
        {
          p[key].sleep--;
          !p[key].sleep && delete p[key];
        }
      }
    });
    return p[ps];
  };

  function catmullRom2bezier(crp, z)
  {
    var d = [];
    for (var i = 0, iLen = crp.length; iLen - 2 * !z > i; i += 2)
    {
      var p = [
        {
          x: +crp[i - 2],
          y: +crp[i - 1]
        },
        {
          x: +crp[i],
          y: +crp[i + 1]
        },
        {
          x: +crp[i + 2],
          y: +crp[i + 3]
        },
        {
          x: +crp[i + 4],
          y: +crp[i + 5]
        }];
      if (z)
      {
        if (!i)
        {
          p[0] = {
            x: +crp[iLen - 2],
            y: +crp[iLen - 1]
          };
        }
        else
        {
          if (iLen - 4 == i)
          {
            p[3] = {
              x: +crp[0],
              y: +crp[1]
            };
          }
          else
          {
            if (iLen - 2 == i)
            {
              p[2] = {
                x: +crp[0],
                y: +crp[1]
              };
              p[3] = {
                x: +crp[2],
                y: +crp[3]
              };
            }
          }
        }
      }
      else
      {
        if (iLen - 4 == i)
        {
          p[3] = p[2];
        }
        else
        {
          if (!i)
          {
            p[0] = {
              x: +crp[i],
              y: +crp[i + 1]
            };
          }
        }
      }
      d.push(['C', (-p[0].x + 6 * p[1].x + p[2].x) / 6, (-p[0].y + 6 * p[1].y + p[2].y) / 6, (p[1].x + 6 * p[2].x - p[3].x) / 6, (p[1].y + 6 * p[2].y - p[3].y) / 6, p[2].x, p[2].y])
    }
    return d
  };
  var parsePathString = function (pathString)
  {
    if (!pathString) return null;
    var pth = paths(pathString);
    if (pth.arr) return pathClone(pth.arr)
    var paramCounts = {
      a: 7,
      c: 6,
      h: 1,
      l: 2,
      m: 2,
      r: 4,
      q: 4,
      s: 4,
      t: 2,
      v: 1,
      z: 0
    }, data = [];
    if (R.is(pathString, array) && R.is(pathString[0], array)) data = pathClone(pathString);
    if (!data.length)
    {
      Str(pathString).replace(pathCommand, function (a, b, c)
      {
        var params = [],
          name = b.toLowerCase();
        c.replace(pathValues, function (a, b)
        {
          b && params.push(+b);
        });
        if (name == 'm' && params.length > 2)
        {
          data.push([b][concat](params.splice(0, 2)));
          name = 'l';
          b = b == 'm' ? 'l' : 'L'
        }
        if (name == 'r') data.push([b][concat](params))
        else
        {
          while (params.length >= paramCounts[name])
          {
            data.push([b][concat](params.splice(0, paramCounts[name])));
            if (!paramCounts[name]) break;
          }
        }
      })
    }
    data.toString = R._path2string;
    pth.arr = pathClone(data);
    return data;
  };

  function repush(array, item)
  {
    for (var i = 0, ii = array.length; i < ii; i++)
      if (array[i] === item)
      {
        return array.push(array.splice(i, 1)[0]);
      }
  }

  var pathToAbsolute = cacher(function (pathArray)
  {
    //var pth = paths(pathArray); // Timo: commented to prevent multiple caching
    // for some reason only FF proceed correctly
    // when not cached using cacher() around
    // this function.
    //if (pth.abs) return pathClone(pth.abs)
    if (!R.is(pathArray, array) || !R.is(pathArray && pathArray[0], array))
      pathArray = parsePathString(pathArray)
    if (!pathArray || !pathArray.length) return [['M', 0, 0]];
    var res = [],
      x = 0,
      y = 0,
      mx = 0,
      my = 0,
      start = 0;
    if (pathArray[0][0] == 'M')
    {
      x = +pathArray[0][1];
      y = +pathArray[0][2];
      mx = x;
      my = y;
      start++;
      res[0] = ['M', x, y];
    }
    var crz = pathArray.length == 3 && pathArray[0][0] == 'M' && pathArray[1][0].toUpperCase() == 'R' && pathArray[2][0].toUpperCase() == 'Z';
    for (var r, pa, i = start, ii = pathArray.length; i < ii; i++)
    {
      res.push(r = []);
      pa = pathArray[i];
      if (pa[0] != upperCase.call(pa[0]))
      {
        r[0] = upperCase.call(pa[0]);
        switch (r[0])
        {
        case 'A':
          r[1] = pa[1];
          r[2] = pa[2];
          r[3] = pa[3];
          r[4] = pa[4];
          r[5] = pa[5];
          r[6] = +(pa[6] + x);
          r[7] = +(pa[7] + y);
          break;
        case 'V':
          r[1] = +pa[1] + y;
          break;
        case 'H':
          r[1] = +pa[1] + x;
          break;
        case 'R':
          var dots = [x, y][concat](pa.slice(1));
          for (var j = 2, jj = dots.length; j < jj; j++)
          {
            dots[j] = +dots[j] + x;
            dots[++j] = +dots[j] + y
          }
          res.pop();
          res = res[concat](catmullRom2bezier(dots, crz));
          break;
        case 'M':
          mx = +pa[1] + x;
          my = +pa[2] + y;
        default:
          for (j = 1, jj = pa.length; j < jj; j++)
            r[j] = +pa[j] + (j % 2 ? x : y)
        }
      }
      else
      {
        if (pa[0] == 'R')
        {
          dots = [x, y][concat](pa.slice(1));
          res.pop();
          res = res[concat](catmullRom2bezier(dots, crz));
          r = ['R'][concat](pa.slice(-2));
        }
        else
        {
          for (var k = 0, kk = pa.length; k < kk; k++)
            r[k] = pa[k]
        }
      }
      switch (r[0])
      {
      case 'Z':
        x = mx;
        y = my;
        break;
      case 'H':
        x = r[1];
        break;
      case 'V':
        y = r[1];
        break;
      case 'M':
        mx = r[r.length - 2];
        my = r[r.length - 1];
      default:
        x = r[r.length - 2];
        y = r[r.length - 1];
      }
    }
    res.toString = R._path2string;
    //pth.abs = pathClone(res);
    return res;
  });

  function cacher(f, scope, postprocessor)
  {
    function newf()
    {
      var arg = Array.prototype.slice.call(arguments, 0),
        args = arg.join('\u2400'),
        cache = newf.cache = newf.cache ||
        {}, count = newf.count = newf.count || [];
      if (cache.hasOwnProperty(args))
      {
        for (var i = 0, ii = count.length; i < ii; i++)
          if (count[i] === args)
          {
            count.push(count.splice(i, 1)[0]);
          }
        return postprocessor ? postprocessor(cache[args]) : cache[args];
      }
      count.length >= 1E3 && delete cache[count.shift()];
      count.push(args);
      cache[args] = f.apply(scope, arg);
      return postprocessor ? postprocessor(cache[args]) : cache[args];
    }
    return newf;
  }

  var l2c = function (x1, y1, x2, y2)
  {
    return [x1, y1, x2, y2, x2, y2];
  },
    q2c = function (x1, y1, ax, ay, x2, y2)
    {
      var _13 = 1 / 3,
        _23 = 2 / 3;
      return [_13 * x1 + _23 * ax, _13 * y1 + _23 * ay, _13 * x2 + _23 * ax, _13 * y2 + _23 * ay, x2, y2]
    },
    a2c = cacher(function (x1, y1, rx, ry, angle, large_arc_flag, sweep_flag, x2, y2, recursive)
    {
      var _120 = PI * 120 / 180,
        rad = PI / 180 * (+angle || 0),
        res = [],
        xy,
        rotate = cacher(function (x, y, rad)
        {
          var X = x * Math.cos(rad) - y * Math.sin(rad),
            Y = x * Math.sin(rad) + y * Math.cos(rad);
          return {
            x: X,
            y: Y
          };
        });
      if (!recursive)
      {
        xy = rotate(x1, y1, -rad);
        x1 = xy.x;
        y1 = xy.y;
        xy = rotate(x2, y2, -rad);
        x2 = xy.x;
        y2 = xy.y;
        var cos = Math.cos(PI / 180 * angle),
          sin = Math.sin(PI / 180 * angle),
          x = (x1 - x2) / 2,
          y = (y1 - y2) / 2;
        var h = x * x / (rx * rx) + y * y / (ry * ry);
        if (h > 1)
        {
          h = Math.sqrt(h);
          rx = h * rx;
          ry = h * ry;
        }
        var rx2 = rx * rx,
          ry2 = ry * ry,
          k = (large_arc_flag == sweep_flag ? -1 : 1) * Math.sqrt(Math.abs((rx2 * ry2 - rx2 * y * y - ry2 * x * x) / (rx2 * y * y + ry2 * x * x))),
          cx = k * rx * y / ry + (x1 + x2) / 2,
          cy = k * -ry * x / rx + (y1 + y2) / 2,
          f1 = Math.asin(((y1 - cy) / ry).toFixed(9)),
          f2 = Math.asin(((y2 - cy) / ry).toFixed(9));
        f1 = x1 < cx ? PI - f1 : f1;
        f2 = x2 < cx ? PI - f2 : f2;
        f1 < 0 && (f1 = PI * 2 + f1);
        f2 < 0 && (f2 = PI * 2 + f2);
        if (sweep_flag && f1 > f2)
        {
          f1 = f1 - PI * 2;
        }
        if (!sweep_flag && f2 > f1)
        {
          f2 = f2 - PI * 2;
        }
      }
      else
      {
        f1 = recursive[0];
        f2 = recursive[1];
        cx = recursive[2];
        cy = recursive[3];
      }
      var df = f2 - f1;
      if (Math.abs(df) > _120)
      {
        var f2old = f2,
          x2old = x2,
          y2old = y2;
        f2 = f1 + _120 * (sweep_flag && f2 > f1 ? 1 : -1);
        x2 = cx + rx * Math.cos(f2);
        y2 = cy + ry * Math.sin(f2);
        res = a2c(x2, y2, rx, ry, angle, 0, sweep_flag, x2old, y2old, [f2, f2old, cx, cy])
      }
      df = f2 - f1;
      var c1 = Math.cos(f1),
        s1 = Math.sin(f1),
        c2 = Math.cos(f2),
        s2 = Math.sin(f2),
        t = Math.tan(df / 4),
        hx = 4 / 3 * rx * t,
        hy = 4 / 3 * ry * t,
        m1 = [x1, y1],
        m2 = [x1 + hx * s1, y1 - hy * c1],
        m3 = [x2 + hx * s2, y2 - hy * c2],
        m4 = [x2, y2];
      m2[0] = 2 * m1[0] - m2[0];
      m2[1] = 2 * m1[1] - m2[1];
      if (recursive) return [m2, m3, m4].concat(res);
      else
      {
        res = [m2, m3, m4].concat(res).join().split(',');
        var newres = [];
        for (var i = 0, ii = res.length; i < ii; i++)
          newres[i] = i % 2 ? rotate(res[i - 1], res[i], rad).y : rotate(res[i], res[i + 1], rad).x
        return newres
      }
    });

  var path2curve = cacher(function (path, path2)
  {
    var pth = !path2 && paths(path);
    if (!path2 && pth.curve) return pathClone(pth.curve)
    var p = pathToAbsolute(path),
      p2 = path2 && pathToAbsolute(path2),
      attrs = {
        x: 0,
        y: 0,
        bx: 0,
        by: 0,
        X: 0,
        Y: 0,
        qx: null,
        qy: null
      },
      attrs2 = {
        x: 0,
        y: 0,
        bx: 0,
        by: 0,
        X: 0,
        Y: 0,
        qx: null,
        qy: null
      },
      processPath = function (path, d, pcom)
      {
        var nx, ny;
        if (!path)
        {
          return ['C', d.x, d.y, d.x, d.y, d.x, d.y];
        }!(path[0] in
        {
          T: 1,
          Q: 1
        }) && (d.qx = d.qy = null);
        switch (path[0])
        {
        case 'M':
          d.X = path[1];
          d.Y = path[2];
          break;
        case 'A':
          path = ['C'][concat](a2c[apply](0, [d.x, d.y][concat](path.slice(1))));
          break;
        case 'S':
          if (pcom == 'C' || pcom == 'S')
          {
            nx = d.x * 2 - d.bx;
            ny = d.y * 2 - d.by;
          }
          else
          {
            nx = d.x;
            ny = d.y;
          }
          path = ['C', nx, ny][concat](path.slice(1));
          break;
        case 'T':
          if (pcom == 'Q' || pcom == 'T')
          {
            d.qx = d.x * 2 - d.qx;
            d.qy = d.y * 2 - d.qy;
          }
          else
          {
            d.qx = d.x;
            d.qy = d.y;
          }
          path = ['C'][concat](q2c(d.x, d.y, d.qx, d.qy, path[1], path[2]));
          break;
        case 'Q':
          d.qx = path[1];
          d.qy = path[2];
          path = ['C'][concat](q2c(d.x, d.y, path[1], path[2], path[3], path[4]));
          break;
        case 'L':
          path = ['C'][concat](l2c(d.x, d.y, path[1], path[2]));
          break;
        case 'H':
          path = ['C'][concat](l2c(d.x, d.y, path[1], d.y));
          break;
        case 'V':
          path = ['C'][concat](l2c(d.x, d.y, d.x, path[1]));
          break;
        case 'Z':
          path = ['C'][concat](l2c(d.x, d.y, d.X, d.Y));
          break
        }
        return path
      },
      fixArc = function (pp, i)
      {
        if (pp[i].length > 7)
        {
          pp[i].shift();
          var pi = pp[i];
          while (pi.length)
          {
            pcoms1[i] = 'A';
            p2 && (pcoms2[i] = 'A');
            pp.splice(i++, 0, ['C'][concat](pi.splice(0, 6)));
          }
          pp.splice(i, 1);
          ii = mmax(p.length, p2 && p2.length || 0);
        }
      },
      fixM = function (path1, path2, a1, a2, i)
      {
        if (path1 && path2 && path1[i][0] == 'M' && path2[i][0] != 'M')
        {
          path2.splice(i, 0, ['M', a2.x, a2.y]);
          a1.bx = 0;
          a1.by = 0;
          a1.x = path1[i][1];
          a1.y = path1[i][2];
          ii = mmax(p.length, p2 && p2.length || 0);
        }
      },
      pcoms1 = [],
      pcoms2 = [],
      pfirst = '',
      pcom = '';
    for (var i = 0, ii = mmax(p.length, p2 && p2.length || 0); i < ii; i++)
    {
      p[i] && (pfirst = p[i][0]);
      if (pfirst != 'C')
      {
        pcoms1[i] = pfirst;
        i && (pcom = pcoms1[i - 1]);
      }
      p[i] = processPath(p[i], attrs, pcom);
      if (pcoms1[i] != 'A' && pfirst == 'C') pcoms1[i] = 'C';
      fixArc(p, i);
      if (p2)
      {
        p2[i] && (pfirst = p2[i][0]);
        if (pfirst != 'C')
        {
          pcoms2[i] = pfirst;
          i && (pcom = pcoms2[i - 1]);
        }
        p2[i] = processPath(p2[i], attrs2, pcom);
        if (pcoms2[i] != 'A' && pfirst == 'C') pcoms2[i] = 'C'
        fixArc(p2, i);
      }
      fixM(p, p2, attrs, attrs2, i);
      fixM(p2, p, attrs2, attrs, i);
      var seg = p[i],
        seg2 = p2 && p2[i],
        seglen = seg.length,
        seg2len = p2 && seg2.length;
      attrs.x = seg[seglen - 2];
      attrs.y = seg[seglen - 1];
      attrs.bx = toFloat(seg[seglen - 4]) || attrs.x;
      attrs.by = toFloat(seg[seglen - 3]) || attrs.y;
      attrs2.bx = p2 && (toFloat(seg2[seg2len - 4]) || attrs2.x);
      attrs2.by = p2 && (toFloat(seg2[seg2len - 3]) || attrs2.y);
      attrs2.x = p2 && seg2[seg2len - 2];
      attrs2.y = p2 && seg2[seg2len - 1];
    }
    if (!p2) pth.curve = pathClone(p);
    return p2 ? [p, p2] : p
  }, null, pathClone);

  // Export function
  window.flatten = flatten;

})();
  </script>

<body>
  <!-- Example SVG document-->
  <svg id="svg" height="1600" width="1800" style="border:1px solid #000">
   <g id="Layer_x0020_1" stroke-width="2">
  <path class="fil0 str0" d="M8465 8365c39,37 31,102 39,139 9,46 26,76 15,109 -4,79 338,1480 422,1795 33,122 2,106 -18,126l-109 -458 -588 138c-34,145 54,282 68,447l199 -40c35,44 29,46 41,110 258,-72 150,-30 188,11l-1134 269c-181,52 -377,86 -559,130 -68,16 -234,65 -288,66 -99,2 -33,1 -65,-17l-51 -38c-27,-16 -29,-16 -61,-30l-55 -22 -434 -1767 -146 20 68 281c14,87 41,219 62,282l273 1096c39,143 21,141 -51,254 -53,84 -3,48 -116,76 -54,13 -76,21 -129,29 -52,8 -202,7 -260,57 -93,2 -276,51 -390,85l39 202c98,-33 251,-81 340,-81l-31 -147c130,-16 272,-85 395,-83 68,98 -8,90 128,149 57,25 139,42 177,89 11,15 131,368 80,439l-120 -420 -198 -81 47 226c-69,42 -272,82 -363,93l21 178 -84 -12c0,-4 2,-9 3,-11 29,-65 28,-25 30,-25l-82 -354 -335 72 96 358c60,-6 59,-19 114,-32 174,-42 77,-9 112,36l-109 32c87,74 22,202 -11,230 21,-23 -49,-35 37,-11 77,22 12,-24 69,46 -65,4 -102,20 -162,41l912 -209 81 -78 54 257c8,56 22,118 39,176 14,48 36,98 48,148l258 1076c3,89 73,154 87,262 6,47 -5,80 -11,125l16 8c24,163 79,311 109,468 15,78 33,152 52,230 28,111 16,126 -41,208 -50,70 8,27 -86,56 -255,81 -534,110 -792,184l53 210 466 -102c156,-50 127,-13 145,-2 -82,23 -71,21 -164,34 -80,11 -77,32 -152,45l-289 71c-4,-4 -11,7 -15,11 187,-33 149,127 80,203 166,1 35,-13 88,53 -94,18 -63,4 -101,49 133,-26 274,-63 411,-92 98,-21 245,-20 318,-104l25 -35c60,73 106,28 200,9 -54,-256 -58,-152 -104,-274 -3,9 -6,11 -7,40l16 80c25,71 58,-11 18,115 -21,27 -102,9 -127,2 -33,-9 8,77 -32,-12 -3,-7 -12,-4 -17,-7 8,-113 32,-192 119,-240 -67,4 -56,-6 -97,29l-55 69c-23,-92 -9,-35 -31,-50l-75 -34c399,-97 396,54 479,451 28,135 72,272 100,412 15,77 44,137 13,202l-80 110c-42,43 -21,136 -19,197 1,62 -4,119 -37,159 -62,-42 -25,16 -51,-70 -23,-80 -2,-193 -2,-273 -41,34 -132,50 -196,61 -252,43 -142,21 -132,150l-7 26c20,-72 35,-131 88,-159 26,38 12,0 20,51 6,42 -22,106 -46,146 -23,39 -12,24 -44,50 -62,-27 -58,-49 -84,-117 -25,-66 -29,-69 -40,-147l516 -100c185,-122 -43,-537 -69,-822l-929 210c-13,84 143,666 167,787 10,0 64,0 69,2 63,16 -4,-22 47,27 -67,19 -101,35 -148,-15l5 122c75,1 87,-1 132,53l-213 0c0,-175 -2,-183 29,-344l-7 -65c-9,-37 -17,-61 -26,-100 -34,-145 -70,-293 -108,-442 -42,103 -593,871 -692,1010l-1667 2407c-72,101 -152,190 -67,321 28,43 98,69 144,98 52,33 92,47 142,89 169,141 437,210 577,366l1033 -1475c86,-119 134,-256 266,-324l341 -178c0,-55 -2,-109 -2,-164 -1,-56 8,-105 37,-140 27,33 35,70 35,123l106 0c0,-114 -35,-127 71,-117l20 160c24,-92 25,-96 167,-96 -49,-61 -173,-615 -187,-723 84,2 186,-34 263,-23 -30,-64 -62,-144 -60,-206l53 -67 460 -107c182,-43 107,15 199,-109 38,-52 112,-86 72,-158 -100,40 54,34 -123,52 25,-175 150,-125 176,-105 0,0 95,18 31,147 -17,35 -56,85 -84,100 108,0 227,-39 325,-72l646 -140c16,80 21,171 53,247 48,5 86,-5 141,-27 44,76 175,694 176,727l61 -12c-16,-82 -43,-153 -59,-236 -18,-91 -10,-160 -34,-254 -22,-83 -37,-160 -60,-239 -28,-102 -52,-122 -73,-241l144 -28c-42,59 -24,31 -90,65 3,24 16,51 22,67 24,77 14,138 59,211 53,90 94,116 194,152 152,54 441,-33 428,-231 -3,154 -104,240 -232,280l44 5c80,-2 194,-39 266,-54l111 -243c2,-9 8,-9 13,-13 116,95 -58,-88 36,38 28,38 32,89 53,128 17,30 3,21 34,40l4 -131c100,8 58,-2 173,-4l44 69c2,-2 6,8 9,11 7,-140 -8,-34 30,-65l48 -14c98,-7 92,17 121,28 19,-16 14,-50 50,-101l-3 -106c-10,-45 -11,-37 -21,-73 -1,-4 -20,-48 -10,-103 19,-101 163,-127 200,-18 13,39 5,20 6,54 -49,41 -70,35 -129,36 27,39 38,-2 77,25l36 45c-55,21 -69,18 -130,18 37,55 31,68 32,141 59,54 -54,28 17,-3l46 -25c29,47 58,47 110,32 47,-14 68,-21 113,-32 139,-32 125,-10 236,-7l0 314c20,-57 14,-145 12,-210 -3,-90 -29,-84 -75,-139l248 -53c54,-19 89,-3 97,-36 3,4 67,-9 -12,13 -66,19 -86,5 -112,-34 -14,-20 -19,-45 -18,-84 4,-141 115,-112 212,-124l0 241c41,-11 117,20 212,11 21,-54 -37,-115 106,-88 0,-132 -15,-225 125,-234 92,-5 97,24 122,88 -74,44 -61,-35 -131,-17 -43,11 -28,92 -28,146 52,-44 74,-32 159,-38 7,-68 26,-97 87,-107 125,-21 67,18 142,53 0,-58 4,-105 36,-143 37,30 26,99 61,118l7 -104c97,-10 42,48 100,82 62,-62 215,-66 299,-96l-167 -675 -665 158c20,155 69,322 112,474l5 143c-1,-2 -5,11 -8,15 -27,-95 -66,-194 -95,-315 -22,-91 -46,-219 -75,-304l-672 165 83 337c11,43 11,80 -9,118l-31 -52c-50,-119 -65,-272 -95,-396 -145,39 -320,81 -468,112 -273,56 -170,149 -169,281l-13 61c-17,-19 -9,-5 -28,-40l-37 -123c-65,9 -134,32 -198,46 -81,17 -158,59 -222,3 76,-16 150,-37 230,-54 61,-14 169,-19 212,-67 132,-147 -66,-88 364,-184 295,-65 608,-147 897,-215 602,-143 1208,-312 1816,-434 37,-16 -2,13 14,-43l13 -33c1,-11 4,-13 9,-19 112,20 113,63 194,71l-24 -52c-3,-5 -7,-12 -9,-16l-20 -38c211,3 51,34 153,60 74,-31 402,-112 472,-104 67,155 143,707 221,783l149 -25 9 -61c13,-60 -43,25 19,-58 30,29 25,50 37,103l903 -208 -20 -196c-18,118 4,58 -73,94 -4,-59 -5,-42 -14,-85l-39 -126c-39,-55 -17,26 -29,-41 -1,-6 -6,-8 -7,-13 6,-2 13,-3 18,-4l93 -13 -49 -129 -857 193 -36 109c-2,-3 -6,12 -7,16l-24 -152 349 -92 -631 -2663 100 -17c-57,84 -50,96 -20,204 28,99 90,475 153,528 3,2 9,6 12,8 2,3 10,13 12,10 2,-4 10,5 14,9 -76,55 -44,49 -13,168 17,66 29,132 45,200 85,353 48,285 145,355l-32 33c-30,53 94,474 113,552 27,110 20,87 68,121 3,2 11,12 13,9 2,-4 10,5 14,8 -52,34 -57,20 -43,88l94 379 429 -95 -89 -387c-21,-69 -9,-54 -77,-56l34 -60c19,-56 -93,-446 -111,-523 -22,-95 -15,-118 -86,-157 54,-64 40,2 27,-99l-151 -607c-111,-16 -47,-5 -80,-41 97,-30 72,-10 38,-132 -42,-151 -69,-426 -141,-544 -33,-54 -30,-131 -51,-218 -26,-110 -51,-219 -71,-318l-860 203c-38,-63 -57,-121 -35,-181 51,56 36,63 56,135l830 -205 -24 -121c-21,-71 -45,-116 -29,-199 1,-5 8,-17 9,-26 0,-6 2,-7 5,-12l-124 1c24,-32 58,-49 76,-88 -38,-49 -28,-87 -67,-113l-746 174c9,48 19,92 -4,122 -62,-111 -31,-223 -105,-290 -108,-98 -75,-132 -114,-274 -13,-48 -38,-106 -37,-154 3,-81 44,-29 42,-133 -1,-39 -32,-107 -43,-154l-11 -147c0,-7 2,-10 4,-14l35 71c6,16 9,37 18,57 90,-11 722,-158 757,-185l-5 -89c-80,-68 -82,51 -82,-141l-45 -85c-3,-2 -10,-3 -12,-10 -2,-8 -9,-7 -14,-11 4,-5 10,-10 14,-13 3,-4 8,-9 12,-13l35 -30c2,-2 8,-2 9,-7 2,-5 7,-5 10,-7 -34,-57 -108,-339 -118,-422l-172 35 59 310c-127,19 -307,90 -429,89l-74 -296 -148 30 49 236 -37 39c-18,28 -11,-7 -12,45 -1,48 18,31 2,99 -20,-19 -14,-10 -31,-39 -72,-117 8,-133 19,-167 9,-23 -30,-184 -31,-237l183 -58c-19,-94 -51,-145 -43,-244l404 -87c36,62 62,157 70,238l171 -35c-10,-78 -27,-190 -69,-267 -135,15 -433,97 -590,137 -148,37 -470,67 -546,188 -39,-262 20,-203 -103,-253 -3,-2 -21,-8 -25,-12 38,-29 26,-17 70,-35l-455 -1924c-254,45 -527,123 -781,182 -384,88 -2147,470 -2272,542 54,309 180,645 226,953 45,295 182,648 233,955 117,-23 92,-36 139,-2 -28,36 -71,39 -129,49l59 239c74,-5 136,-44 191,-6 -100,67 -204,39 -298,54 -58,9 -94,29 -158,37 -55,6 -70,3 -106,50l-20 31c-4,-4 -8,-10 -11,-14l-29 -36c-2,-3 -5,-7 -7,-10 -46,-58 30,-4 -23,-24 -1,90 -10,126 -104,124l-55 -12c-15,-28 -24,10 -32,-59 -5,-37 -3,2 -2,-37 3,-69 2,-32 16,-69 99,38 6,-19 48,40 22,32 6,41 -13,48 31,20 41,20 71,0l-17 -88c71,-29 155,-37 181,46 -5,-119 -61,-250 -81,-375 -29,78 7,62 -67,90l-29 4c-56,8 -30,0 -35,1l-73 19c-69,4 -48,2 -91,-14 -14,-40 -39,-174 48,-143l17 16c23,40 2,25 -12,58l53 16c1,-139 -11,-20 51,-69l37 51c20,-35 5,-4 18,-35 -83,-43 -28,7 -53,-88 112,7 53,-17 116,48 -21,-76 -3,-23 -31,-61l315 -135 -135 -530c-200,21 -384,114 -586,129l32 243c-4,-4 -7,-10 -10,-14l-24 -43c-1,-3 -15,-40 -16,-42 -16,-49 -11,-28 -17,-85 -19,-165 -81,-364 -128,-526 -36,-128 -164,-614 -165,-713 23,-15 52,-27 75,-31 45,-9 64,-3 85,18l-114 43 139 603 164 -16c-45,56 10,50 -149,66l101 361c39,-25 512,-137 588,-139l-84 -356c-251,65 -152,28 -189,-14l175 -34 -147 -622c-40,10 -73,17 -112,23l-92 30c-40,22 -53,41 -123,22 -71,-19 -11,-1 -49,-24 -2,-1 -7,-5 -9,-6l-16 -12c-1,26 11,29 -14,52 -58,53 -70,-101 -74,-140 91,4 82,6 149,41 35,18 40,28 81,29 4,-74 2,-8 -14,-39 -2,-5 -20,-39 -22,-43l-17 -41c94,5 95,-7 127,73l14 45c220,-109 166,-4 327,-39l529 -125c281,-58 591,-152 873,-203l1314 -309c40,-11 403,-79 415,-106 2,-7 10,-4 15,-7l-22 -88c-33,-15 -6,-11 -60,-9 -161,7 -3141,803 -3221,761 -51,-26 -235,-505 -270,-589l-619 151 162 708z"/>
  <polygon class="fil0 str0" points="16713,14302 16713,7055 16178,7176 16130,6977 15031,7237 "/>
  <path class="fil1 str0" d="M6881 12484c41,-67 0,-176 -31,-283l919 -219c76,161 158,571 195,779l-925 219 -52 -243 -44 8c6,71 60,330 95,384 -3,4 -8,4 -9,11 -7,32 -36,-5 -53,130 95,-25 45,30 88,-53l17 0c0,114 -34,91 -52,194 17,14 -46,59 92,28 -17,178 244,1061 298,1344 5,30 15,79 22,101 91,292 454,98 686,49 219,-47 1256,-274 1325,-315l-69 -233c-21,64 10,122 27,211l-903 205c-15,-80 -20,-153 -67,-214 -18,21 -31,27 -17,104 5,30 21,81 29,114 -44,21 -759,196 -809,194 -153,-6 -163,-175 -194,-292 -37,-137 -62,-276 -99,-408l930 -218c29,93 21,162 83,221 25,-80 -10,-146 -25,-237l898 -209c7,33 13,63 20,92l30 86c3,4 7,10 9,13 2,4 6,9 9,14 2,-8 7,6 6,-42l-94 -372c-32,60 -10,99 8,162l-908 210c-12,-84 -5,-102 -53,-160 -14,22 -10,2 -15,45 -3,29 -3,15 1,45 2,13 15,58 18,74l-928 225 -141 -602 928 -228 63 151c24,-66 16,-50 -17,-169l908 -210c3,33 1,43 12,77 17,53 4,27 36,67 2,-5 4,-17 4,-15 1,2 38,58 -40,-275l-276 -1153c-31,-107 -54,-180 -79,-292 -41,-188 -91,-408 -143,-590 -159,-19 -1425,329 -1707,382l-49 -163 -404 94c17,96 110,506 146,562l130 -22c100,157 83,433 171,622z"/>
  <path class="fil2 str0" d="M6729 18004c0,120 21,242 -36,311 -37,-44 -35,-55 -35,-123l-88 0 0 79c21,-39 -18,-19 40,-36 4,-1 11,1 15,1 3,-1 13,9 16,3 3,-6 11,3 17,6 -51,100 -61,39 -162,107 -50,33 -100,64 -152,94 -64,38 -97,53 -166,86 -47,23 -37,15 -64,48 -2,3 -5,7 -7,10l-34 53c-232,362 -654,933 -920,1320l-29 43c-63,99 -210,298 -244,391 157,-32 164,-8 190,141l332 0c-13,-62 -27,-127 -44,-188 -31,-116 -20,-44 -94,-112 -22,-171 84,-267 150,-378l575 -977c37,-62 163,-297 198,-333 52,-56 351,-81 425,-93 138,-24 318,-47 450,-78 270,-64 212,-30 333,-52 76,-13 -8,-16 75,-19l0 -240c198,25 139,-43 194,39 27,40 17,135 17,202 99,27 123,50 215,-17l94 422 1514 -361 -271 -1097c-112,-16 -47,-9 -123,19 25,121 84,268 75,374 -68,14 -46,2 -93,23 -42,-37 -35,69 -35,-68 -1,-33 -132,-651 -176,-727 -55,22 -93,32 -141,27 -32,-76 -37,-167 -53,-247l-646 140c-98,33 -217,72 -325,72 28,-15 67,-65 84,-100 64,-129 -31,-147 -31,-147 -26,-20 -151,-70 -176,105 177,-18 23,-12 123,-52 40,72 -34,106 -72,158 -92,124 -17,66 -199,109l-460 107 -53 67c-2,62 30,142 60,206 -77,-11 -179,25 -263,23 14,108 138,662 187,723 -142,0 -143,4 -167,96l-20 -160z"/>
  <path class="fil2 str0" d="M12515 14117c-661,128 -1391,349 -2033,485 -177,38 -338,75 -497,114 -96,24 -154,33 -207,126 -49,87 -12,151 14,262l186 765c29,66 133,121 205,121 45,0 194,-47 244,-57 102,-22 159,-35 252,-59 95,-25 178,-43 262,-61l1779 -422c127,-31 147,-18 201,-132 51,-107 16,-138 -14,-257l-184 -775c-20,-43 -107,-130 -208,-110z"/>
  <path class="fil2 str0" d="M12832 10906c3,10 7,40 18,53 75,-4 141,-17 211,-35 1,12 13,76 19,94 53,163 44,-64 142,282 110,385 -64,128 33,418l-140 27c-112,54 -6,-15 -54,43 48,39 60,36 117,23 100,-23 -15,-20 95,-23 1,50 8,102 35,140l29 29c114,103 60,198 112,296l-773 188c-21,-113 -106,-372 -109,-494 51,0 54,-2 81,-13 129,-49 66,-42 78,-57 -29,-22 -35,-37 -114,-21 -103,21 5,12 -80,21l-176 -794c142,-3 176,-21 176,-88l-87 -22c-25,37 -58,18 -89,39 -48,-17 -173,-713 -212,-794l423 -122c-289,-74 -569,138 -846,140 35,111 -25,36 70,88 -91,50 -112,-41 -210,-43 -73,-2 -204,59 -301,61 34,261 97,205 31,257l-25 16c-4,2 -10,5 -14,9 15,50 20,101 33,161 14,65 28,103 42,171 41,214 81,47 134,267 4,18 14,55 19,71 62,205 -16,68 -9,227 3,63 61,255 78,326 47,198 85,18 135,267 3,13 30,151 29,153 -3,66 -105,25 49,480 56,163 76,-45 133,276 71,-4 102,-14 156,-28l138 -43c64,-18 92,1 135,-23 70,-40 46,-12 47,-118 65,2 10,-1 71,71l52 -96c171,7 791,-217 1059,-229l-64 -328c-8,-48 -20,-103 -32,-160l-31 -112c-89,-161 -27,128 -140,-300 -21,-80 -4,-44 20,-121 18,-58 -54,-405 -119,-478 -96,-108 -42,-9 -109,-252 -35,-128 31,-79 27,-198 0,-3 -18,-91 -18,-91 -31,-115 -51,-214 -81,-316 -6,-1 -15,-12 -18,-5l-53 5c-13,-73 -21,-142 -70,-214 -107,-15 -255,35 -330,117 72,4 169,-19 240,-38 109,-28 50,-9 55,-24 4,84 33,122 35,212 37,14 25,17 88,17 17,93 51,207 75,307 32,137 -76,-19 -13,276 -83,1 -129,22 -203,52z"/>
  <path class="fil2 str0" d="M9322 14875l-1620 369c-34,12 -61,-7 -121,138 -24,58 -19,38 -7,99l209 856c72,266 380,126 607,69 123,-30 255,-63 389,-90l771 -182c322,-66 228,-266 131,-656 -52,-210 -71,-196 -95,-383 -13,-93 -53,-183 -147,-220 -78,-30 -62,-11 -99,-5 -5,1 -12,4 -18,5z"/>
  <path class="fil2 str0" d="M10133 12088c-1,51 21,33 -173,81l-762 166c-3,-43 -56,-249 -70,-282 -43,35 -66,8 -27,163 78,307 189,855 266,1094 69,213 99,440 145,623 26,103 52,204 77,318 14,61 22,98 36,151 13,49 34,110 32,173 97,-5 190,-35 288,-57l770 -190c6,-90 -5,-102 -17,-148 -12,-48 -24,-92 -37,-140l-241 -1014c-8,-61 -19,-81 -35,-144 -25,-98 -39,-201 -70,-298l-52 -212c-2,-7 -18,-48 -23,-69 -25,-95 -12,-180 -68,-272l-21 -31c0,0 -57,37 -18,88z"/>
  <path class="fil2 str0" d="M12708 13305c103,0 18,8 53,-35 -39,-219 -75,-145 184,-212 73,-18 129,-39 209,-53 82,-14 150,-31 217,-51l255 -54c37,209 50,160 70,176 21,-28 37,-36 20,-115 -21,-105 -16,7 -20,-79 56,-37 318,-55 388,-106 38,12 105,331 107,406 -116,1 -336,66 -424,106 66,82 -22,11 53,41 68,28 323,-77 406,-77l88 389 -323 73c-41,10 -17,1 -54,15 -64,24 -25,1 -29,18 -11,-71 -76,-356 -123,-406 -31,36 -15,-3 -28,53 -12,50 3,87 16,119l-444 138c-32,8 -438,92 -444,113 -2,-21 -12,-83 -16,-97 -36,-113 1,-53 -72,-79 -5,48 -3,31 -1,63 9,137 98,427 138,551 36,112 28,180 65,319l78 316c27,121 91,291 90,426 82,0 107,-6 177,-24 21,-6 52,-13 70,-18 7,-3 43,-16 45,-17 6,-3 10,-6 15,-9l28 -20c-36,-29 -10,-22 -70,-29 -56,-6 -131,44 -194,47 -30,-44 -123,-532 -146,-602 -1,-4 -3,-9 -4,-12l-9 -39c79,-14 170,-30 239,-51l220 -55c64,-17 64,126 98,262l78 282c69,105 -57,-36 35,38 19,-23 66,31 12,-159l-118 -423c11,-36 274,-90 336,-88 0,93 44,221 63,296 23,91 78,257 78,339 -84,15 -262,60 -335,89 37,44 12,72 173,25l310 -79c43,-11 113,-14 134,-35 31,47 35,126 46,174 16,72 37,119 42,197 97,-13 190,-47 282,-53l-74 -339c-24,-92 -46,-209 -74,-313 -30,-113 -47,-221 -74,-316l-346 -1434c-15,-58 -33,-116 -35,-191 -94,1 -131,18 -211,40l-1202 280c-46,11 -15,0 -41,12 -45,20 -32,15 -59,38 2,81 24,147 52,229z"/>
  <path class="fil0 str0" d="M8519 8613c11,-33 -6,-63 -15,-109 -8,-37 0,-102 -39,-139 -94,2 -34,13 -66,-69l-138 -638 -569 139c22,221 150,496 113,587 -79,-53 -27,-26 -83,-207l-760 182 78 316 432 -104c89,6 31,-22 86,42l-505 115 61 251 735 -159 -50 -210c-2,-54 -4,-48 23,-83l28 61c7,22 10,35 15,58 10,43 19,88 29,129l175 725c69,-8 88,-26 132,13 -62,40 -173,61 -245,76l163 658c140,-35 -105,-25 323,-136 99,-26 276,-56 356,-91l-142 -597c-77,4 -75,24 -123,-16l110 -47 -174 -712c32,-57 -15,-11 50,-35z"/>
  <path class="fil0 str0" d="M5776 11428c58,-50 208,-49 260,-57 53,-8 75,-16 129,-29 113,-28 63,8 116,-76 72,-113 90,-111 51,-254l-273 -1096c-21,-63 -48,-195 -62,-282 -7,5 12,92 -45,-29 -26,-55 -45,-197 -70,-234l-965 217c54,177 142,773 224,891l356 -81c68,-22 45,-30 110,2 -106,43 -93,18 -196,54l-275 68 218 939c137,34 45,-38 333,-28 -69,-70 -29,3 -50,-85 -4,-14 -2,-75 -2,-89 167,-75 279,-101 282,106l-106 -86c38,105 21,88 -35,149z"/>
  <path class="fil0 str0" d="M6124 9312c97,467 226,933 337,1390 12,47 65,311 81,340 46,79 -21,-10 24,25l97 63c106,70 527,-113 881,-161l-460 -1871 -960 214z"/>
  <path class="fil0 str0" d="M5239 7187l25 164c15,-21 17,-120 177,-61 31,82 13,141 -35,194 183,11 46,-20 105,53 -73,15 -110,31 -194,35 10,-182 71,-139 71,-229 -46,5 -19,7 -73,35 -20,10 -40,18 -40,18 23,34 39,10 14,105 -1,5 -4,12 -7,17 -3,-5 -7,-18 -9,-15l-86 -316 -790 190 364 1550 802 -189c-51,-261 -148,-591 -206,-856l-58 -211c-15,-178 -27,-37 36,-95l36 126 925 -206 -24 -152c-7,3 42,37 -56,-12l-104 -34c-5,-2 -13,-4 -18,-8 6,-95 28,-192 113,-229 -14,-32 -34,-62 -38,-108 -141,32 -868,193 -930,234z"/>
  <path class="fil0 str0" d="M12354 7520l381 1602c96,-22 386,-79 450,-118l-94 -389 644 -156 -153 -648 -326 76c-46,-77 -88,-282 -93,-354l328 -85 -42 -183c-279,16 -855,217 -1095,255z"/>
  <path class="fil0 str0" d="M7664 11254c10,68 45,116 -1,173 -32,-50 -33,-83 -49,-150 -110,-14 -549,138 -718,151 5,21 21,72 23,88l-14 91c-42,-50 -44,-105 -59,-169 -13,-54 -31,-126 -47,-162l-313 77 119 487c143,-27 224,-77 295,-34 -72,54 -43,22 -126,53l63 290 932 -220c-8,-41 -17,-89 -26,-133 -22,-109 -32,-62 -62,-131l65 -19c42,2 14,-7 23,19 61,-73 -67,32 18,-18l0 -35c-165,0 -37,11 -88,-53 25,-11 48,-24 70,-35 -33,-19 -1,-34 -56,-4 -4,3 -8,6 -13,8l-34 20c-6,4 -13,9 -20,11 4,-69 -10,-93 51,-119 47,-19 99,4 125,13 26,71 0,32 25,142 2,6 3,9 4,16 8,41 6,45 6,89 -39,18 -51,24 -98,35 41,67 56,137 69,223l899 -210 -169 -698 -894 204z"/>
  <polygon class="fil0 str0" points="5637,19642 5787,20331 7670,19888 7518,19217 "/>
  <path class="fil0 str0" d="M12532 10995c0,67 -34,85 -176,88l176 794c85,-9 -23,0 80,-21 79,-16 85,-1 114,21 -12,15 51,8 -78,57 -27,11 -30,13 -81,13 3,122 88,381 109,494l773 -188c-52,-98 2,-193 -112,-296l-29 -29c-27,-38 -34,-90 -35,-140 -110,3 5,0 -95,23 -57,13 -69,16 -117,-23 48,-58 -58,11 54,-43l140 -27c-97,-290 77,-33 -33,-418 -98,-346 -89,-119 -142,-282 -6,-18 -18,-82 -19,-94 -70,18 -136,31 -211,35 -11,-13 -15,-43 -18,-53 -3,24 84,35 -71,36 26,55 -35,17 53,53 -5,30 43,128 -129,35 -96,-52 -113,-24 -153,-35z"/>
  <path class="fil0 str0" d="M12708 13305c56,40 44,71 59,143 14,66 51,121 30,140 73,26 36,-34 72,79 4,14 14,76 16,97 6,-21 412,-105 444,-113l444 -138c-13,-32 -28,-69 -16,-119 13,-56 -3,-17 28,-53 47,50 112,335 123,406 4,-17 -35,6 29,-18 37,-14 13,-5 54,-15l323 -73 -88 -389c-83,0 -338,105 -406,77 -75,-30 13,41 -53,-41 88,-40 308,-105 424,-106 -2,-75 -69,-394 -107,-406 -70,51 -332,69 -388,106 4,86 -1,-26 20,79 17,79 1,87 -20,115 -20,-16 -33,33 -70,-176l-255 54c-67,20 -135,37 -217,51 -80,14 -136,35 -209,53 -259,67 -223,-7 -184,212 -35,43 50,35 -53,35z"/>
  <path class="fil2 str0" d="M9375 10818c12,27 53,53 52,89 -111,-3 -70,-51 -229,-71 1,70 4,110 32,162 3,6 8,11 10,16 3,5 7,11 11,16 27,-35 21,9 29,-53l-11 -35c0,-51 37,32 124,36 108,4 71,19 99,-55 15,-39 9,-68 -12,-87 90,-3 250,-40 333,-71l56 265c-210,12 -417,115 -636,143l-88 -319c-100,29 -100,43 -205,58 -88,14 -126,38 -209,46 23,99 82,315 79,389 110,73 77,-38 88,71 36,26 111,425 126,483 1,2 18,75 20,81 38,101 7,41 66,89 0,-196 -18,-107 -18,-194 155,-28 810,-210 935,-212 -52,-47 -10,33 51,77 6,4 12,8 20,11 -3,-137 -80,-383 -112,-533 -32,-150 -119,-434 -118,-525 -104,6 -278,54 -373,81 -48,13 -16,3 -57,18l-47 18c-4,1 -10,4 -16,6z"/>
  <path class="fil0 str0" d="M2631 20538l2228 0c0,-164 0,-150 -286,-316l-291 -185c-373,-206 -219,-190 -536,-114 -210,50 -167,30 -227,-21 -90,-77 -145,-17 -215,16 -3,174 46,167 52,285 -119,71 -630,92 -758,177l33 158z"/>
  <path class="fil2 str0" d="M10097 10799l-153 41 85 404c82,9 94,-15 175,-20l44 160c2,5 5,11 9,16 77,-28 28,28 70,-53l18 0c-2,65 -20,79 -40,126 -23,52 -17,4 -17,67 0,22 7,55 10,80 16,127 34,173 82,289 65,-19 40,22 71,-50 50,75 -27,69 -36,229 89,0 107,-4 177,-17 -29,-77 -91,-54 -106,-53 3,0 12,43 42,-53 12,-37 12,-26 10,-69 -2,-35 -21,-98 -34,-78l-53 -10c-69,1 37,-8 -36,5l-35 11c21,-17 23,-16 13,-64 -22,-103 4,-19 -13,-25 70,-19 138,-38 216,-54 79,-16 146,-35 228,-55 45,-11 343,-94 379,-78 3,2 7,5 11,7 4,2 8,5 13,8 1,1 5,15 53,31 -1,-136 -22,-144 -67,-287 -61,-197 -65,-361 -86,-399 -19,-35 -19,-30 -41,-54 -4,5 -74,-7 -18,88l0 17c-55,2 -573,120 -617,142 -10,-53 -33,-26 -22,-86l21 -56 -105 0c2,-2 5,-10 6,-7 13,40 43,-99 43,-115 -1,-89 -15,-84 -102,-85 -56,0 -121,50 -152,-19l-7 -38c152,-10 279,-56 408,-95 69,-21 135,-29 202,-44l184 -55c77,-24 -29,36 106,88l-11 -149c-91,-17 -446,80 -552,107 -456,113 -447,61 -373,252z"/>
  <path class="fil2 str0" d="M11404 13341l-22 -106 -90 -8c-23,3 -87,21 -118,29l27 21c85,57 94,34 114,152l191 -29c-10,15 8,73 20,110 26,79 6,67 1,166 79,-21 56,22 88,-53 37,56 -13,85 -53,194 30,57 44,12 65,105 10,43 19,85 23,118 -18,6 -68,13 -83,16 -101,22 -91,43 -111,78 71,20 54,12 128,-5l815 -193c135,-26 113,-5 173,-118 69,-126 19,-126 -17,-235 -49,-150 -44,-448 -129,-472 -41,-11 -736,175 -891,212 -23,5 1,2 -59,11 -32,4 -34,6 -72,7z"/>
  <path class="fil0 str0" d="M7332 8990l313 1306 201 -45 147 608 282 -71 -114 -481c-117,-32 -62,64 -164,-320 -31,-115 -95,-334 -96,-445l116 -24 -156 -643 -529 115z"/>
  <path class="fil0 str0" d="M6881 12484c23,63 59,231 62,261l44 -8 52 243 925 -219c-37,-208 -119,-618 -195,-779l-919 219c31,107 72,216 31,283z"/>
  <path class="fil2 str0" d="M6117 14631l43 157c-7,73 -158,113 11,204 3,2 9,4 13,7 -33,51 -52,66 -36,141l105 9 27 176 803 -183c49,-14 82,-31 109,-120 31,-99 -79,-414 -116,-588 -69,-20 -760,164 -959,197z"/>
  <path class="fil0 str0" d="M6713 12741c-12,-50 -34,-100 -48,-148 -17,-58 -31,-120 -39,-176 -30,34 4,31 -26,-6 -25,-29 -37,-121 -40,-152l-487 104c-134,37 -329,97 -473,107 17,79 33,124 38,191 9,140 22,78 45,172 5,20 53,296 93,315 44,21 841,-203 935,-201 -7,-72 -11,-56 -21,-118 -12,-70 -47,-82 23,-88z"/>
  <path class="fil2 str0" d="M7063 14212l-16 -8c6,-45 17,-78 11,-125 -14,-108 -84,-173 -87,-262 -1,1 19,136 -50,-10 0,-1 -18,-74 -27,-97 -166,13 -837,203 -942,197 13,138 156,627 154,690 148,-45 889,-179 942,-233l-25 -141c25,-16 -22,-50 40,-11z"/>
  <path class="fil0 str0" d="M13496 10812c23,128 60,104 10,219 -42,94 55,378 83,405 42,42 39,4 70,74 11,24 21,81 29,111l768 -177 -194 -806 -766 174z"/>
  <polygon class="fil0 str0" points="5785,13203 5943,13867 6870,13661 6718,12984 "/>
  <path class="fil0 str0" d="M8016 12670c-23,91 119,544 148,681l898 -209 -163 -671 -883 199z"/>
  <path class="fil2 str0" d="M11438 12494c-103,3 -312,65 -412,89 -67,16 -123,31 -199,48 -60,13 -163,31 -200,57 -68,-17 46,32 -24,-26 -39,-33 7,-20 -64,-44 10,158 62,220 75,327 14,118 31,93 50,215l9 54c12,51 87,45 131,34 134,-34 749,-157 828,-225 -56,-243 -5,-45 -1,-211 2,-66 -2,-51 -16,-89 -16,-5 -39,-22 -94,-11 -80,17 -13,10 -12,11 2,-67 -6,-17 88,-53l-86 -70c25,-110 -13,-105 -20,-212 -62,50 -51,-75 -53,106z"/>
  <polygon class="fil0 str0" points="7837,12010 7990,12622 8884,12413 8739,11799 "/>
  <path class="fil2 str0" d="M4771 8977c26,225 -106,156 -40,257 20,31 6,17 58,29l18 3c-41,92 -101,176 77,159 -4,71 -14,42 25,109 61,1 742,-150 806,-176 4,-63 -3,-51 -26,-127 98,-28 136,-56 101,-207 -27,-118 -67,-139 -173,-136l-31 -112c-199,66 -643,138 -815,201z"/>
  <path class="fil2 str0" d="M13449 15429c-8,22 41,76 -158,64 55,254 104,450 177,706l140 -27c44,34 2,-13 24,42 2,5 9,41 14,51 83,18 96,-9 183,13 3,1 195,94 156,-84 -27,-121 -26,10 -24,-101 81,-37 95,-42 176,-36 -6,-29 -23,-111 -31,-131 -38,-94 11,19 -44,-58 -38,-53 -118,-456 -119,-516 -68,16 -134,60 -164,7 -102,-26 58,-57 -153,-60l20 38c2,4 6,11 9,16l24 52c-81,-8 -82,-51 -194,-71 -5,6 -8,8 -9,19l-13 33c-16,56 23,27 -14,43z"/>
  <polygon class="fil0 str0" points="13155,8647 13371,9526 13960,9388 13749,8517 "/>
  <polygon class="fil0 str0" points="12579,15685 12739,16363 13413,16205 13250,15524 "/>
  <path class="fil0 str0" d="M9569 13852l72 328c21,105 68,197 69,325l705 -176c-15,-5 5,50 -25,-55 -3,-10 -15,-62 -20,-88l-113 -495 -688 161z"/>
  <path class="fil3 str0" d="M10108 9900c-396,112 -215,685 169,568 359,-109 219,-679 -169,-568z"/>
  <path class="fil3 str0" d="M12401 9476c-396,113 -215,685 169,569 359,-109 220,-679 -169,-569z"/>
  <polygon class="fil0 str0" points="6870,7991 6951,8306 7705,8118 7637,7811 "/>
  <polygon class="fil0 str0" points="12750,9173 12866,9642 13315,9536 13207,9070 "/>
  <polygon class="fil0 str0" points="13423,9623 13543,10125 13876,10046 13765,9545 "/>
  <path class="fil4 str0" d="M5292 15377l-3 372c148,19 225,15 372,2l1 -372c-146,-17 -224,-14 -370,-2z"/>
  <polygon class="fil5 str0" points="9199,16903 9444,16903 9444,16658 9199,16658 "/>
 </g>
  </svg>
  <script>
//flatten_transformations(elem, toCubics, toAbsolute, rectAsArgs, dec)
flatten(document.getElementById('svg'));
  </script>
</body>
</html>