<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"/>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body ng-app="app" ng-controller="mainController">
        <div class="container-fluid">
            <div class="row" id="head">
                <div class="col-md-12 col-sm-12 col-lg-12"><span class= "title" >{{groupName}} - {{groupMembers}}</span></div>
            </div>
             <div class="row">
                <button type ="button" class="btn btn-primary" onclick=connect()>Connect</button>
                <button type ="button" class="btn btn-primary" onclick=disconnect()>Disconnect</button> 
            </div>
            <div class="col-md-2 col-sm-12 col-lg-3" id="info">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-group" ng-show="showInfo" class="ng-hide">
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a data-toggle="collapse" href="#collapse1">Device Info</a>
                                </h4>
                              </div>
                              <div id="collapse1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                             Name: {{device.name}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                             ID: {{device.pathId}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                             Battery Life: {{device.battery}}
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
            <div class="row" id="map" ng-controller="canvasController">
                <canvas></canvas>
            </div>
            
           
        </div>
        
        <script>
            var webSocket;
            
            var connect = function(){
                var address = "WS://localhost:54321";
                webSocket = new WebSocket(address);

                webSocket.onopen = function(e) {
                    changeState(true);
                    log("Connection open...");
                };

                webSocket.onerror = function (e) {
                    changeState(false);
                    log("Connection error...");
                };

                webSocket.onmessage = function(e){
                    if(typeof e.data === "string")
                        log("Received : " + e.data);
                    else
                        log("Binary message received...");
                    
                    
                    
                    
                    
                    
                };
                webSocket.onclose = function(e){
                    log("Connection Closed...");
                    changeState(false);
                };
            };
            var disconnect = function(){
                log("Closing connection...");
                webSocket.close();
            };
            var log = function(message){
                var text = document.createTextNode(message);
                var div = document.createElement('div');
                div.appendChild(text);
                div.innerText = message;

                document.getElementById("messages").appendChild(div);
            };
            var changeState = function(isConnected){
                var container = document.getElementById("messageInputContainer");
                container.style.visibility=isConnected?"visible":"collapse";

                var connectButton = document.getElementById("connect");
                connectButton.disabled = isConnected;

                var disconnectButton = document.getElementById("disconnect");
                disconnectButton.disabled = !isConnected;
            };
            var send = function() {
                if (webSocket.readyState != 1) {
                    log("Cannot send data when the connection is closed...");
                    return;
                }
                var messageInput = document.getElementById("message");
                var message = messageInput.value;
                log("Sending : " + message);
                webSocket.send(message);
            };
        </script>
        
        <script src="js/app.js"></script>
        <script src="js/mainController.js"></script>
        <script src="js/canvasController.js"></script>
        <script src="js/animation.js"></script>
    </body>
</html>